{% extends 'base.html' %}
{% load django_tables2 %}

{% block content %}
<div class="container">
    <h1>Daftar Aspek {{ survey.title }}</h1>
    {% comment %} <form method="get">
        {{ filter.form.as_p }}
        <button type="submit" class="btn btn-primary">Filter</button>
    </form> {% endcomment %}
    <ul class="list-group">
      {% for aspect in aspects %}
          <li class="list-group-item">
              <a href="{% url 'aspect-detail' aspect.pk %}">{{ aspect.name }}</a>
          </li>
      {% endfor %}
  </ul>
</div>
{% endblock %}