{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container mx-auto mt-5">
    <h1 class="text-3xl font-bold mb-4">Evaluasi untuk Aspek Kebijakan Pelayanan</h1>

    <div class="accordion" id="accordionExample">
        <div class="card my-2">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Tersedia Standar Pelayanan (SP) sesuai dengan ketentuan peraturan perundang-undangan yang berlaku.
                </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                <div class="user-answer">
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">Pertanyaan</th>
                            <th scope="col">Jawaban</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th scope="row">1</th>
                            <td>Apakah sudah dibuat Standar Pelayanan, baik sebagian ataupun seluruh jenis pelayanan?</td>
                            <td> &#9745; Ya </br> &#9744; Tidak </br> </td>
                            </tr>
                            <tr>
                            <th scope="row">2</th>
                            <td>Berapa Jumlah Jenis Pelayanan yang dimiliki?</td>
                            <td>3</td>
                            </tr>
                            <tr>
                            <th scope="row">3</th>
                            <td>Berapa Jumlah Jenis Standar Pelayanan yang dibuat?</td>
                            <td>12</td>
                            </tr>
                        </tbody>
                        </table>
                </div>

                <div class="option-one-selection-evalutor">
                    <div class="form-check form-check">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">0. Tidak tersedia Standar Pelayanan</label>
                    </div>
                    <div class="form-check form-check">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">1. Tersedia SP namun tidak memenuhi 14 komponen.</label>
                    </div>
                    <div class="form-check form-check">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option3">
                        <label class="form-check-label" for="inlineRadio2">2. Tersedia SP yang memenuhi 14 komponen.</label>
                    </div>
                    <div class="form-check form-check">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option4">
                        <label class="form-check-label" for="inlineRadio2">3. Tersedia SP yang memenuhi 14 komponen dan dilakukan penetapan</label>
                    </div>
                    <div class="form-check form-check">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option4">
                        <label class="form-check-label" for="inlineRadio2">4. Tersedia SP yang memenuhi 14 komponen, melibatkan masyarakat dalam penyusunan SP, dan dilakukan penetapan.</label>
                    </div>
                    <div class="form-check form-check">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option4">
                        <label class="form-check-label" for="inlineRadio2">5. Tersedia SP yang memenuhi 14 komponen, melibatkan masyarakat dalam penyusunan SP, dilakukan penetapan, dan dilakukan monev.</label>
                    </div>
                </div>
                <div class="mt-5">
                    <h3 class="text-xl font-bold">Preview Documents</h3>
                    <ul>
                        <li>
                        <a href="http://localhost:8000/uploads/SDN202400076.pdf" target="_blank">Nama_file.pdf</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion" id="accordionExample">
        <div class="card my-2">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Proses penyusunan dan perubahan SP telah melibatkan unsur masyarakat.
                </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                <div class="user-answer">
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">Pertanyaan</th>
                            <th scope="col">Jawaban</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th scope="row">1</th>
                            <td>Unsur masyarakat yang dilibatkan</td>
                            <td> 
                                &#9745; Masyarakat pengguna layanan </br> 
                                &#9745; Ahli/Praktisi/Akademisi </br>
                                &#9745; Instansi Terkait </br>
                                &#9744; Organisasi Masyarakat Sipil</br> 
                                &#9744; Media Massa </br> 
                            </td>
                            </tr>
                            <tr>
                            <th scope="row">2</th>
                            <td>Apakah dalam penyusunan SP telah melibatkan unsur masyarakat?
                            </td>
                            <td> &#9745; Ya </br> &#9744; Tidak </br> </td>
                            </tr>
                        </tbody>
                        </table>

                </div>

                <div class="option-one-selection-evalutor">
                    <div class="form-check form-check">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">0. Penyusunan SP tanpa melibatkan unsur masyarakat dan pihak terkait (stakeholder).</label>
                    </div>
                    <div class="form-check form-check">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">1. Penyusunan SP telah melibatkan minimal 1 unsur masyarakat.</label>
                    </div>
                    <div class="form-check form-check">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option3">
                        <label class="form-check-label" for="inlineRadio2">2. Penyusunan SP telah melibatkan minimal 2 unsur masyarakat.</label>
                    </div>
                    <div class="form-check form-check">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option4">
                        <label class="form-check-label" for="inlineRadio2">3. Penyusunan SP telah melibatkan minimal 3 unsur masyarakat.</label>
                    </div>
                    <div class="form-check form-check">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option4">
                        <label class="form-check-label" for="inlineRadio2">4. Penyusunan SP telah melibatkan minimal 4 unsur masyarakat.</label>
                    </div>
                    <div class="form-check form-check">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option4">
                        <label class="form-check-label" for="inlineRadio2">5. Penyusunan SP telah melibatkan minimal 5 unsur masyarakat.</label>
                    </div>
                </div>
                <div class="mt-5">
                    <h3 class="text-xl font-bold">Uploaded Documents</h3>
                    <ul>
                        <li>
                        <a href="http://localhost:8000/uploads/SDN202400076.pdf" target="_blank">Nama_file.pdf</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</div>

<script>
    function toggleAccordion(id) {
        var element = document.getElementById('collapse' + id);
        element.classList.toggle('hidden');
    }
</script>

{% endblock %}
